body {
background: url("images/glitch_wpp.jpg") fixed no-repeat center;
background-size: cover;
color: white;
padding: 5px;

}

a:hover{
color: #5F9EA0;
}

#main {
  width: auto;
  height: auto;
  overflow: auto;
  text-align: center
}

.title-index {
  color:#5F9EA0;
  text-align: center;
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 42px;
  border-left: 2px black outset;
  margin: 20px;
}

.description-index {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica;
  font-weight: normal;
  font-size: 18px;
}

.button-index {
  border:0;
  padding:10px;
  border-radius:25px;
  background-color:#5F9EA0;
  font-family: Arial, Helvetica;
  font-weight: bold;
  color: white;
}

.button-index:hover {
  background-color: white;
  color: #5F9EA0;

}
